# App
NODE_ENV=development
PORT=7010
APP_NAME=P2A Research
APP_URL=http://localhost:7010
CORS_ORIGIN=http://localhost:3001

# Database (master)
DB_MASTER_HOST=localhost
DB_MASTER_PORT=5632
DB_MASTER_USERNAME=p2a_user
DB_MASTER_PASSWORD=p2a_research_password
DB_MASTER_DATABASE=p2a_research
DB_SYNCHRONIZE=true
DB_LOGGING=false

# Database (slave)
DB_SLAVE_HOST=localhost
DB_SLAVE_PORT=5633
DB_SLAVE_USERNAME=p2a_user
DB_SLAVE_PASSWORD=p2a_research_password
DB_SLAVE_DATABASE=p2a_research


